.container{
    position: relative;
    z-index: 100;
    min-height: screen;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.light-mode .description {
    color: white;
  }
  
body.dark-mode .description {
    color: black;
}
  

.description{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body.light-mode .land-img {
    filter: brightness(0.5); 
}
  
body.dark-mode .land-img {
    filter: brightness(1); 
}
  

.land-img{
    width: 100%;
    height: 70vh;
}

.tagline{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 100;
}

.trending{
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 50px;
}

.welcome{
    font-size: 20px;
    margin-bottom: 50px;
}

body.light-mode .explore {
    border: 2px solid white;
}
  
body.dark-mode .explore {
    border: 2px solid black;
}

body.light-mode .explore:hover {
    border: 2px solid white;
    color: blue;
    border: 2px solid rgb(33, 33, 235);
}
  
body.dark-mode .explore:hover {
    border: 2px solid black;
    color: blue;
    border: 2px solid rgb(33, 33, 235);
}

.explore {
    box-sizing: border-box;
    padding: 20px 30px;
    cursor: pointer;
    width: fit-content;
    max-width: 100%;
}

.landing-bottom{
    height: 100px;
}


@media (max-width: 600px) {
    .explore {
        padding: 10px 20px;
        font-size: 14px;
    }
}

@media (max-width: 435px) {
    .explore {
        padding: 15px 20px;
        font-size: 12px;
    }
}





  